@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<SatisHareket> 
@{
    ViewBag.Title = "DepartmanPersonelSatıs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="account-settings-container layout-top-spacing">
    <div class="account-content">
        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <div class="row">
                <div id="tableFooter" class="col-lg-12 col-12 layout-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Personel Adı : @ViewBag.dpers</h4>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content widget-content-area">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-condensed mb-4">

                                    <thead>
                                        <tr>
                                            <th>Satış ID</th>
                                            <th>Ürün</th>
                                            <th>Cari</th>
                                            <th>Fiyat</th>
                                            <th>Adet</th>
                                            <th>Toplam</th>
                                            <th>Tarih</th>
                                            <th>Yazdır</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var x in Model)
                                        {
                                            <tr>
                                                <td>@x.satisID</td>
                                                <td>@x.Urun.urunAd</td>
                                                <td>@x.Cariler.cariAd @x.Cariler.cariSoyad</td>
                                                <td>@x.fiyat</td>
                                                <td>@x.adet</td>
                                                <td>@x.toplamTutar</td>
                                                <td>@x.tarih</td>
                                                <td><a href="/Departman/DepartmanPersonelSatıs/" class="btn btn-primary mb-2 mr-2 btn-rounded">Yazdır<svg> ... </svg></a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <a href="/Departman/DepartmanEkle" class="btn btn-info mb-2 mr-2 btn-rounded">Yeni Ekle<svg> ... </svg></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

