@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<FaturaKalem>
@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



    <div class="account-settings-container layout-top-spacing">
        <div class="account-content">
            <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
                <div class="row">
                    <div id="tableFooter" class="col-lg-12 col-12 layout-spacing">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>Fatura Kalemleri</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-condensed mb-4">

                                        <thead>
                                            <tr>
                                                <th>Kalem ID</th>
                                                <th>Açıklama</th>
                                                <th>Miktar</th>
                                                <th>Birim Fiyat</th>
                                                <th>Tutar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var x in Model)
                                            {
                                                <tr>
                                                    <td>@x.faturaKalemID</td>
                                                    <td>@x.aciklama</td>
                                                    <td>@x.miktar</td>
                                                    <td>@x.birimFiyat</td>
                                                    <td>@x.tutar</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <a href="/Fatura/YeniKalem" class="btn btn-info mb-2 mr-2 btn-rounded">Yeni Kalem<svg> ... </svg></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>