@model MvcOnlineTicariOtomasyon.Models.Classes.Urun
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="account-settings-container layout-top-spacing">
    <div class="account-content">
        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <div class="row">
                <div class="col-lg-12 col-12  layout-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Ürün Düzenleme Sayfası</h4>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content widget-content-area">
                            @using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post))
                            {
                                <div class="form-group mb-4">
                                    <label>Ürün AD</label>
                                    @Html.TextBoxFor(x=>x.urunAd,new { @class="form-control"})
                                </div>
                                <div class="form-group mb-4">
                                    <label>Ürün Marka</label>
                                    @Html.TextBoxFor(x => x.marka, new { @class = "form-control" })
                                </div>
                                <div class="form-group mb-4">
                                    <label>Ürün Stok</label>
                                    @Html.TextBoxFor(x => x.stok, new { @class = "form-control" })
                                </div>
                                <div class="form-group mb-4">
                                    <label>Ürün Alış Fiyatı</label>
                                    @Html.TextBoxFor(x => x.alisFiyati, new { @class = "form-control" })
                                </div>
                                <div class="form-group mb-4">
                                    <label>Ürün Satış Fiyatı</label>
                                    @Html.TextBoxFor(x => x.satisFiyati, new { @class = "form-control" })
                                </div>
                                <div class="form-group mb-4">
                                    <label>Ürün Kategori</label>
                                    @Html.DropDownListFor(x => x.KategoriID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
                                    @*<input type="text" class="form-control" name="KategoriID" placeholder="Ürün Kategori">*@
                                </div>
                                <div class="form-group mb-4">
                                    <label>Ürün Görsel</label>
                                    @Html.TextBoxFor(x => x.urunGorsel, new { @class = "form-control" })
                                </div>
                                @Html.HiddenFor(x => x.urunID)
                                <button class="btn btn-primary"> Güncelle</button>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

